html {
  position: relative;
  min-height: 100%;
}

nav, .card-body {
  background-color: dimgray;
}

body {
  margin-bottom: 60px;
  background-color: darkslategray;
}

  body > .container {
    padding: 60px 15px 0;
  }

.jumbotron, .card-footer {
  background-color: lightslategray;
}

.business-hours {
  padding-left: 0;
}

  .business-hours > li {
    text-align: left;
    list-style-type: none;
  }

.pull-right {
  float: right;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: dimgray;
}

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
